#custom-recording {
    color: #ff0000;

    font-weight: bold;

    padding: 0 8px;
    margin: 1px 1px;

    border-radius: 0px;

    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}


#custom-recording.recording {
    color: #ff0000;
    animation: blink 1s infinite;
}


@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}
